.page 
{
	width:975px;
	background-color: ;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
}
body
{
	background-color: white;
  	background-image: linear-gradient(to bottom right, #00ffff, #cc00ff);
  	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica;
    font-weight: lighter;
    color: black;
}

.banner p
{
	text-align: center;
	font-weight: lighter;
	font-size: 3em;
	border-style: solid;
	border-width: 1px;
}
.footer
{
	/* position: fixed;*/
	bottom: 0;
	height: 40px;
	background-color: #dddddd;
	width: 100%;
	text-align: center;
	height: 90px;
	padding-top: 10px;
}
.footer a
{
	color:#0033aa;
}

.nav
{
  	height: 75px;

}
.nav ul
{
	padding-left: 0px;
	height: 75px;
}
.nav li
{
	font-size: 23px;
	display:inline-block;
	height: 75px;
	float: left;
	
}
.navPadsding a:hover
{
	color: black;
	background-color: rgba(255,255,255,.6);
}
.nav li a
{
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;	
}
.navPadding a
{

	padding: 26px 20px;
}

.content p
{
	margin: 20px;
	font-size: 20px;
	text-align: justify;
	line-height: 25px;
}

.content img
{
	border-style: solid;
	border-width: 1px;
	float: right;
	margin: 20px;
	margin-top: 0px;
}
.contentPages
{
	width: 975px;

}
.contentPages h1
{
	text-align: center;
	font-size: 50px;
	
}